body {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 18px;
	background-color: #777;
}

div {
	width: 960px;
	margin: 0 auto;
}

header {
	margin: 5px;
	color: #ebebeb;
	text-align: center;
	padding: 20px;
	background-color: #bfbfbf;
}

nav {
	margin: 5px;
	color: #ebebeb;
	text-align: center;
	padding: 20px;
	background-color: #bfbfbf;
}

section {
	float: left;
	text-align: center;
	padding: 20px;
	width: 495px;
	margin: 5px;
	color: #ebebeb;
	background-color: #bfbfbf;
}

article {
	margin: 0 auto;
	width: 420px;
	background-color: #777;
	padding: 20px;
	color: #ebebeb;
}

aside {
	margin: 5px;
	width: 400px;
	text-align: center;
	color: #ebebeb;
	float: left;
	background-color: #bfbfbf;
}

footer {
	margin: 5px;
	color: #ebebeb;
	text-align: center;
	padding: 20px;
	background-color: #bfbfbf;
	clear: both;
}